version: '3.8'

services:

  eye:
    image: cosmtrek/air
    command: ["-c", "deploy/air.toml"]
    container_name: eye
    working_dir: /app
    volumes:
      - ..:/app
    ports:
      - 80
    environment:
      EYE_LOGGING_LEVEL: DEBUG
      EYE_SENTRY_DSN: "https://bc7d68d874af47a2b4d624319c976393@o4504393685925888.ingest.sentry.io/4504393690644480"
      EYE_SENTRY_ENVIRONMENT: "develop"
