version: '3.8'

services:

  eye:
    build:
      context: ..
      dockerfile: build/Dockerfile
      args:
        _path: cmd/eye
    container_name: eye
    environment:
      EYE_LOGGING_LEVEL: DEBUG
      EYE_SENTRY_DSN: "https://bc7d68d874af47a2b4d624319c976393@o4504393685925888.ingest.sentry.io/4504393690644480"
      EYE_SENTRY_ENVIRONMENT: "develop"
      EYE_MONGODB_HOST: mongodb
      EYE_MONGODB_DATABASE: eye

  eye_debug:
    build:
      context: ..
      dockerfile: build/Dockerfile.debug
      args:
        _path: cmd/eye
    container_name: eye_debug
    ports:
      # Remote debugging (Delve)
      - 40000:40000
    environment:
      EYE_LOGGING_LEVEL: DEBUG
      EYE_SENTRY_DSN: "https://bc7d68d874af47a2b4d624319c976393@o4504393685925888.ingest.sentry.io/4504393690644480"
      EYE_SENTRY_ENVIRONMENT: "develop"
      EYE_MONGODB_HOST: mongodb
      EYE_MONGODB_DATABASE: eye
